<div class="flex flex-row">
	<div class="w-full">
		<ims-navbar (toggle)="toggle()" />
	</div>
</div>

<mat-drawer-container
	autosize
	class="h-screen w-full mt-14"
	[hasBackdrop]="mobileQuery.matches ? true : false"
>
	<mat-drawer
		#drawer
		[opened]="device() === 'desktop' ? true : showMainDrawer()"
		(closedStart)="closedStart()"
		[mode]="mobileQuery.matches ? 'over' : 'side'"
		class="h-screen first-letter:pl-4 group/item"
	>
		<div class="flex flex-col">
			<ims-side-menu
				[ngClass]="{
					'hidden group-hover/item:block':
						device() === 'desktop' && showMainDrawer()
				}"
			/>
			@if(showMainDrawer() && device() === 'desktop' ){
			<ims-side-menu-compact class="visible group-hover/item:invisible w-16" />
			}
		</div>
	</mat-drawer>

	<mat-drawer-content>
		<main class="p-4 h-full" #container>
			<ims-breadcrumbs />
			<router-outlet></router-outlet>
		</main>
	</mat-drawer-content>
</mat-drawer-container>
